html,
body {
  font-family: "Figtree", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: hsl(47, 88%, 63%);
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 384px;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 8px 8px #111111;
  padding: 24px;
  box-sizing: border-box;
}

.illustration-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5px;
}

button {
  background: hsl(47, 88%, 63%);
  color: #111111;
  padding: 8px 12px;
  border: none;
  width: 82px;
  height: 29px;
  border-radius: 4px;
  font-weight: 800;
  font-family: "Figtree", serif;
  box-sizing: border-box;
}

p {
  font-family: "Figtree", serif;
  color: #111111;
  line-height: 150%;
}

.title {
  font-size: 24px;
  font-weight: 800;
  text-decoration: none;
  color: #111111;
  line-height: 150%;
}

.title + p {
  color: #6b6b6b;
}

a:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
  text-decoration: none;
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.avatar-container p {
  color: #111111;
  font-weight: 800;
}

.avatar {
  width: 32px;
  height: 32px;
}

.attribution {
  margin-top: 80px;
  flex: 0;
}
